cfg
.idea
.pytest_cache
__pycache__
Data/
src/speech_tagging/.env
src/speech_tagging/static/
Pipfile
Pipfile.lock
/venv/
/venv/*
/myenv/
/myenv/*
migrations
test.log
error.log
requirements1.txt

mysql_data/
static/
