absl-py==2.0.0
astunparse==1.6.3
audioread==3.0.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
colorama==0.4.6
coverage==5.5
cycler==0.11.0
decorator==5.1.1
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.38.0
gast==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==0.4.6
google-cloud-speech==2.23.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
h5py==3.8.0
hmmlearn==0.3.0
idna==3.6
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.7.0
joblib==1.3.2
keras==2.11.0
kiwisolver==1.4.5
lazy-loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.39.1
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.5.3
msgpack==1.0.5
numba==0.56.4
numpy==1.21.6
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.2
Pillow==9.5.0
platformdirs==4.0.0
plotly==5.18.0
pooch==1.8.0
proto-plus==1.23.0
protobuf==3.19.6
pveagle==0.2.0
pvfalcon==1.0.0
pvrecorder==1.2.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyAudioAnalysis==0.3.14
pycparser==2.21
pydub==0.25.1
pyparsing==3.1.1
python-dateutil==2.8.2
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
toml==0.10.2
torch==1.4.0
torchvision==0.5.0
tqdm==4.66.1
typing-extensions==4.7.1
urllib3==2.0.7
Wave==0.0.2
Werkzeug==2.2.3
wrapt==1.16.0
zipp==3.15.0
